/* General */
#twintegration{
    margin: 20px 0;
}
#twintegration .formField{
    overflow: hidden;
    margin-top: 20px;
}
#twintegration .formField label{
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    width: auto;
    margin-bottom: 5px;
}

/* Exemple Latest Tweet */
.twitter_status{
    background: white;
    -moz-box-shadow: 0px 1px 2px #ddd;
    -webkit-box-shadow: 0px 1px 2px #DDD;
    box-shadow: 0px 1px 2px #DDD;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 5px;
    float: left;
}
.userimg{
    float: left;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.userimg img{
    width: 100%;
    height: auto;
}
.tw_timestamp{
    float: right;
}